* {
    margin: 0;
    padding: 0;
}

.frame {
    display: flex;
    justify-content: space-between;
}

.disp-left {
    width: 20%;
}

.disp-center {
    width: 50%;
}

.disp-right {
    width: 30%;
}

.tweet-button {
    display: flex;
    justify-content: flex-end;
}

.disp-height {
    height: 100vh;
}